[Install]
WantedBy=graphical-session.target

[Service]
CPUQuota=50%
MemoryMax=1G
ExecStartPre=/bin/mkdir -p ${HOME}/.config/chromium_whatsapp
ExecStart=/usr/bin/chromium-browser --app=https://web.whatsapp.com --class=whatsapp --user-data-dir=$HOME/.config/chromium_whatsapp

[Unit]
After=graphical-session-pre.target
Description=WhatsApp
PartOf=graphical-session.target
