extends py

snippet pipe "An empty instance of BasePipe" b
class ${1:Text}(BasePipe):
	def __init__(self, *, context)
		super().__init__(context=context)

	def pump(self, pod):
		return pod
endsnippet
